$color-primary: #bb1e1e;
$color-primary-light: #bb1e1e1a;
$color-background: #f4f5f8;
$color-white: #ffffff;
$color-text: #000000;
$color-grey-text-placeholder: #a5a5a4;
$color-grey-text: #8d8d8c;
$color-divider-grey-background: #9797971a;
$color-divider-white-background: #f4f5f8;
$color-scrollbar-widget: #0000003d;
$color-scrollbar-widget-hover: #0000005c;
$color-blue: #1e71bb;
$color-black-background: #1d1d1b;

$font-family: 'Inter', sans-serif;

$box-shadow-search: 0px 1px 2px -1px #c8cad1;
$box-shadow-nav-item: 0px 6px 36px rgba(0, 0, 0, 0.16);
$box-shadow-article-card: 0px 1px 8px -1px #c8cad1;

$max-width-content: 68.5rem;

$breakpoint-horizontal-card: 26rem;
$breakpoint-sidebar: 48rem;
$breakpoint-3-col: 60.5rem;

$linear-gradient-banner: linear-gradient(
  180deg,
  #bb1e1e 71.29%,
  #b21919 99.95%
);
